:root {
    --firenord00: #121b2c;
    --firenord01: #313846;
    --firenord02: #455064;
    --firenord03: #626f88;

    --firenord04: #97a4c0;
    --firenord05: #c4d1ec;
    --firenord06: #f4f8ff;

    --firenord07: #e4677c;
    --firenord08: #ec9b6c;
    --firenord09: #f3d570;
    --firenord10: #69be70;
    --firenord11: #4eadd3;
    --firenord12: #9263c7;
    --firenord13: #d178be;

    --firenord14: #e6adb6;
    --firenord15: #e9bfa6;
    --firenord16: #ecdeaf;
    --firenord17: #b9e9bd;
    --firenord18: #b2d9e9;
    --firenord19: #d4bfec;
    --firenord20: #eec1e0;
}

* {
    font-family: "Fira Code";
    line-height: 25px;
}

body {
    background-color: var(--firenord00);
    color: var(--firenord06);

    width: 800px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

    box-shadow: inset 1000px 1000px var(--firenord01);

    border: solid;
    border-width: 4px;
    border-color: var(--firenord03);
    border-radius: 10px;
}

h1 {
    background-color: var(--firenord02);
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
}

p {
    margin-bottom: 50px;
}

img {
    width: 700px;
    border: solid;
    border-width: 4px;
    border-color: var(--firenord03);
    border-radius: 10px;
    margin-bottom: 15px;
}

a {
    color: var(--firenord11);
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: var(--firenord18);
}

::-webkit-scrollbar {
    width: 30px;
}

::-webkit-scrollbar-track {
    background: var(--firenord00);
}

::-webkit-scrollbar-thumb {
    background: var(--firenord01);
    border-radius: 100px;
    border: 10px solid var(--firenord00);
}

.nav {
    padding: 10px 15px;
    background-color: var(--firenord02);
    border-radius: 10px;

    margin-bottom: 50px;
    display: inline-block;
}

.nav-item a {
    color: var(--firenord18);
    padding: 5px 10px;
    border-radius: 10px;
}

.nav-item a:hover {
    padding: 5px 10px;
    border-radius: 10px;
    background: none;
    color: var(--firenord01);
    background-color: var(--firenord06);
}

.swatch {
    height: 60px;
    width: 60px;
    background-color: var(--firenord04);
    border: solid 1px;
    border-color: var(--firenord04);
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 50px;
}

.code {
    background-color: var(--firenord00);
    color: var(--firenord04);
    padding: 15px;
    border: solid;
    border-width: 4px;
    border-color: var(--firenord03);
    border-radius: 10px;
    letter-spacing: 2px;
}

.high {
    background-color: var(--firenord02);
    padding: 5px 10px;
    border-radius: 10px;
}

.high a {
    color: var(--firenord14);
}

.wall {
    padding: 30px;
    padding-top: 10px;
    background-color: var(--firenord00);
    border-radius: 10px;
    margin-bottom: 30px;
}