:root {
    --rt00: #080002;
    --rt01: #151111;
    --rt02: #271e1e;
    --rt03: #3d2525;

    --rt10: #ffddee;
    --rt11: #8d5a74;

    --rt20: #db3a3a;
    --rt21: #d87423;
    --rt22: #c59e1f;
    --rt23: #51b844;
    --rt24: #40a5c4;
    --rt25: #bd58a7;

    --rt30: #220e0e;
    --rt31: #22140e;
    --rt32: #22190e;
    --rt33: #17220e;
    --rt34: #0e1722;
    --rt35: #1f0e22;
}

body {
    background-color: var(--rt00);

    color: var(--rt10);
    font-family: "Fira Code";
    font-size: 14px;
    text-shadow: 0 0 10px color-mix(in srgb, var(--rt10) 50%, transparent);

    margin: 5% 5% 0px 5%;
}

::selection {
    background: var(--rt11);
    color: var(--rt10);
}

img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 50px;
}

h1, h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

pre {
    background-color: var(--rt02);
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.container {
    display: flex;
    gap: 5%;
    justify-content: center;
}

.text-section {
    margin-top: 5%;
    background-color: var(--rt01);
    padding: 50px;
    border-radius: 10px;
    width: clamp(500px, 700px, 800px);
    height: fit-content;
    padding-bottom: 25px;
}

.img-section {
    z-index: -10;
    position: absolute;
    width: 90%;
}

.img-section img {
    filter: blur(20px);
}

.nav a {
    color: var(--rt20);
    font-weight: 900;
    text-decoration: none;
    margin-right: 20px;
    display: inline-block;
    text-shadow: 0 0 10px color-mix(in srgb, var(--rt20) 70%, transparent);

    transition: all 0.3s;
}

.nav a:hover {
    color: var(--rt21);
    text-shadow: 0 0 10px color-mix(in srgb, var(--rt21) 70%, transparent);
    rotate: -5deg;
}

a {
    color: var(--rt21);
    font-weight: 900;
    text-decoration: none;
    margin-right: 20px;
    display: inline-block;
    text-shadow: 0 0 10px color-mix(in srgb, var(--rt21) 70%, transparent);

    transition: all 0.3s;
}

a:hover {
    color: var(--rt22);
    text-shadow: 0 0 10px color-mix(in srgb, var(--rt22) 70%, transparent);
    rotate: -5deg;
}

.paragraph {
    margin-bottom: 25px;
}

.darker {
    color: var(--rt11);
    text-shadow: 0 0 10px color-mix(in srgb, var(--rt11) 50%, transparent);
    display: inline;
    margin: 0px;
    padding: 0px;
}

hr.solid {
    color: var(--rt03);
    margin-bottom: 25px;
}

.h-blue {
    display: inline-block;
    font-weight: 700;
    color: var(--rt24);
    text-shadow: 0 0 10px color-mix(in srgb, var(--rt24) 70%, transparent);
}

.shimmer {
    background: linear-gradient(90deg, var(--rt24) 0%, var(--rt20) 100%);
    text-shadow: 0 0 10px color-mix(in srgb, var(--rt25) 70%, transparent);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shimmer-animation 2.5s linear infinite;
}

@keyframes shimmer-animation {
    to {
        background-position: 200%;
    }
}

#dateDisplay, #days {
    display: inline-block;
}